# Environment files
.env

# Python virtual environments
venv/
*.pyc
__pycache__/

# Node modules (frontend)
frontend/node_modules/

# Logs
*.log

# Cache
*.pytest_cache/


# Filter-repo replacement file
replace.txt

.DS_Store
node_modules